body {
  margin: 0;
  padding: 0;
}

#color-picker {
  margin-top: 10px;
}

.color {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.brush {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}